<%# locals: (presenter:) %>
<span class="inline-block whitespace-nowrap text-sm font-semibold text-party-green border border-party-green/40 rounded-full px-3 py-1">
  ✓ <%= presenter.attendance_statement %>
</span>
